{% extends 'base.html.twig' %}
{% block body %}
    Expediente:
    <ul>
        <li>id: {{expediente.id}}</li>
        <li>numero: {{expediente.numero}}</li>
        <li>anio: {{expediente.anio}}</li>
        <li>caratula: {{expediente.caratula}}</li>
    </ul>
{% endblock%}